body {
    box-sizing: border-box;
    border: 0px
  
  }
  
  .container {
    background-color: rgb(255, 214, 42);
    padding: 0px;
    height: 300px;
    width: auto;
    display: block;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
  }

.item {
    width: 100px;
    height: 100px;
    background-color: rgb(176, 42, 255);
    flex-direction: row;
    margin-right: 5px;
}