<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Mentor</title>
</head>
<body>
    <header>
        <%- include('navbar.ejs') %>
    </header>
    <main>
        <div><img src="static/mentor/<%= number %>.jpg"></div>
    </main>
</body>
</html>